.queryOutput{
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid black;
    text-align: left;
}

.left{
    display: inline-block;
    margin: 2px 10px;
}

.right{
    display: inline-block;
    margin: 2px 10px;
}

.queryButtons{
    margin: 10px;
}

.queryButton{
    margin: 5px;
}

.logOutButton{
    margin: 10px;
}